:root {
    --color1: #1ae385; 
    --color2: #0da3c3;
    --color3: #0064ff;
    --size-handle: 60px;
}


.rc-slider-rail {
    height: 100px;
    border-top-right-radius: 75px!important;
    border-bottom-right-radius: 75px!important;
}

.rc-slider-track {
    height: 100px;
    background: linear-gradient(90deg, white 0%, var(--color1) 50%, var(--color3) 100%);
}

.rc-slider-handle {
    height: 100px;
    width: 100px;
    border-color: var(--color3)!important;
    margin-top: 0px!important;
}

.rc-slider-handle:focus {
    background-color: var(--color3)!important;
    border-color: var(--color3)!important;
}

.rc-slider-mark {
    top: 200%;
}

.slider {
    margin-bottom: 100px;
}

.logo {
    width: 176px;
    height: 100px;
    margin-left: 50px;
}

.vertical-slider > .rc-slider-vertical > .rc-slider-handle{
    width: 100px!important;
    border-color: var(--color3)!important;
    margin-left: 0px!important;
}

.vertical-slider > .rc-slider-vertical > .rc-slider-track{
    width: 100px!important;
    background: linear-gradient(0deg, white 0%, var(--color1) 50%, var(--color3) 100%);
}

.vertical-slider > .rc-slider-vertical > .rc-slider-rail{
    width: 100px!important;
    margin: 0 !important;
    border-top-right-radius: 75px!important;
    border-top-left-radius: 75px!important;
}

.button {
    width: 80%;
    margin-bottom: 30px;
    height: 100px !important;
    font-size: 24px;
    background-color: var(--color2)!important;
    border-color: var(--color3)!important;
    border-width: 2px!important;
    color: white!important;
}

.button:active {
    background-color: var(--color3)!important;
    color: white!important;
}


.power-button {
    width: 100%;
    margin-bottom: 30px;
}

.power-button > div > div > button {
    border-color: var(--color3)!important;
    border-width: 2px!important;
}

.switch {
    width: 100%;
    margin-bottom: 30px;
}


.switch > div > div > div {
    width: calc(2*var(--size-handle))!important;
    height: 60px!important;
    padding: 0!important;
}


.switch > div > div > div > button {
    width: var(--size-handle)!important;
    height: var(--size-handle)!important;
}

.switch > div > div > div > button:active {
    transform: translateX(var(--size-handle))!important;
}

.dlqMgb {
    transform: translateX(var(--size-handle))!important;
}

.color-ranges {
    stroke-width: 14px!important;
}

#direction {
    font-weight: 600;
    font-size: 64px;
}

/* Color of the gauge value at the bottom */
.cAPXWV {
    color: var(--color3)!important;
}
